VITE_MARITACA_API_KEY=105345943695882818824_7f71ac0f4b587c4f
VITE_FIREBASE_API_KEY=AIzaSyCHbG8G7DIgzxy1wZDOfsULlMZIA4jCFQI
VITE_FIREBASE_AUTH_DOMAIN=dashboard-gestao-notas.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dashboard-gestao-notas
VITE_FIREBASE_STORAGE_BUCKET=dashboard-gestao-notas.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=50538691489
VITE_FIREBASE_APP_ID=1:50538691489:web:99ba996f4825979b98a9e0
